<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ data.title }}">
		<link rel="canonical" href="{{ data.url }}">

		<title>{{ data.title }}</title>
		<meta name="description" content="{{ data.description }}">

		<meta name="application-name" content="{{ data.title }}">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Icons, platform-specific theme stuff, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">

		<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">
		<meta name="theme-color" content="#12073f">
		<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

		<!-- Half my site’s transfer is in `meta` nonsense. -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ data.url }}",
				"title": "{{ data.title }}",
				"author_name": "{{ data.author.name }}",
				"logo": "{{ data.url }}/_assets/img/card.gif",
				"sameAs" : [
					"https://twitter.com/wilto"
				] 
			}
		</script>

		<!-- Twitter/Slack cards: -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@wilto">
		<meta name="twitter:creator" content="@wilto">
		<meta property="og:site_name" content="{{ data.name }}">
		<meta name="twitter:title" content="{{ data.title }}">
		<meta property="og:title" content="{{ data.title }}">
		<meta property="og:url" content="{{ data.url }}">

		<meta name="twitter:description" content="{{ lede }}">
		<meta property="og:description" content="{{ lede }}">

		<meta name="twitter:image" content="{{ data.url }}/_assets/img/card.gif">
		<meta name="twitter:image:alt" content="{{ data.description }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/card.gif">
		<meta property="og:image:alt" content="{{ data.description }}">

		<meta name="author" content="{{ data.author.name }}">
		{% set css %}
			{% include "../_assets/css/globals.css" %}
			{% include "../_assets/css/layout.css" %}
			{% include "../_assets/css/type.css" %}
			{% include "../_assets/css/syntax.css" %}
		{% endset %}
		<style>
			{{ css | cssmin | safe }}
		</style>
		<link rel="preload" href="/_assets/css/all.css" as="style">

		<link rel="stylesheet" href="/_assets/css/all.css">

		<style>
			.book-body h2 {
				color: {{ data.color }};
			}
			.book-body a {
				color: {{ data.color }};
			}
			</style>
	</head>
	<body>
		<header class="masthead">
			<div class="contents-btn"><a href="#modal-nav" rel="modal:open">Contents</a></div>
			<h1 class="logo"><a href="/">{{ data.title }}</a></h1>
			<div class="book-btn"><a href="https://abookapart.com/products/javascript-for-web-designers">Buy the book</a></div>
		</header>

		<main role="main" id="main">
			{{ content | safe }}
		</main>

		<footer class="footer">
			<div class="inner-wrap">
				<div class="repel pub-info">
					<div>
						<h3 class="meta-hed">About This Book</h3>
						<p>A detailed yet approachable tour around this essential language: pick up syntax rules, the fundamentals of scripting, and much more.</p>
					</div>

					<div class="about">
						<h3 class="meta-hed">About Placeholder</h3>
						<p>We cover the emerging and essential topics in web design and development with style, clarity, and above all, brevity. The goal of every title in our catalog is to shed clear light on a tricky subject, and do it fast—so you can get up to speed and back to work. <a href="https://abookapart.com/">View our full library</a>.</p>
					</div>
				</div>
				<small class="repel copyright">
					<p>Copyright © 2016 Mat Marquis</p>
					<p>Published by <a href="#">Me</a></p>
				</small>
			</div>
		</footer>
	</body>
</html>
