<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ data.title }}">
		<link rel="canonical" href="{{ data.url }}">

		<title>{{ data.title }}</title>
		<meta name="description" content="{{ data.description }}">

		<meta name="application-name" content="{{ data.title }}">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Icons, platform-specific theme stuff, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">

		<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">
		<meta name="theme-color" content="#12073f">
		<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

		<!-- Half my site’s transfer is in `meta` nonsense. -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ data.url }}",
				"title": "{{ bookMeta.title }}",
				"author_name": "{{ bookMeta.creator }}",
				"logo": "{{ data.url }}/_assets/img/card.gif"
			}
		</script>

		<meta property="og:site_name" content="{{ bookMeta.title }}">
		<meta property="og:title" content="{{ data.title }}">
		<meta property="og:url" content="{{ data.url }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/card.gif">
		<meta property="og:image:alt" content="{{ data.description }}">

		<meta name="author" content="{{ output-directory.data.meta.creator }}">
		{% set css %}
			{% include "../_assets/css/globals.css" %}
			{% include "../_assets/css/layout.css" %}
			{% include "../_assets/css/type.css" %}
			{% include "../_assets/css/syntax.css" %}
		{% endset %}
		<style>
			{{ css | cssmin | safe }}
		</style>
		<link rel="preload" href="/_assets/css/all.css" as="style">

		<link rel="stylesheet" href="/_assets/css/all.css">

		<style>
			.book-body h2 {
				color: {{ meta.color }};
			}
			.book-body a {
				color: {{ meta.color }};
			}
			dialog::backdrop {
				background: {{ meta.color }};
			}
			</style>
	</head>
	<body>
		<header class="masthead">
			<div>
				<a class="sr-only skiplink" href="#main">Skip to main content</a>
				<button class="contents-btn" aria-expanded="false" data-controls="#dialog">Table of Contents</button>
			</div>
			<h1 class="logo"><a href="/">{{ meta.title }}</a></h1>
			<div class="book-btn"><a href="https://abookapart.com/products/javascript-for-web-designers">Buy the book</a></div>
		</header>

		{{ content | safe }}

		<dialog id="dialog">
			<button id="closer" aria-label="Close Table of Contents"></button>
			<nav aria-label="Table of Contents">
				<ol>
				{% for chap in collections.chapter %}
					<li><a href="{{ chap.url }}">{{ chap.data.title }}</a></li>
				{% endfor %}
				</ol>
			</nav>
		</dialog>

	</body>

	<script>
		let control = document.querySelector( "[data-controls]" ),
			dialog  = document.querySelector( control.dataset.controls );
			closer  = dialog.querySelector( "#closer" );

		control.addEventListener( "click", function( e ) {
			dialog.setAttribute( "aria-hidden", false );
			dialog.showModal();
		});

		closer.addEventListener( "click", function( e ) {
			dialog.close();
			e.preventDefault();
		});
	</script>
</html>
