---
layout: base.njk
---
{% if summary %}
<div class="summary">
  <div class="sub">
    {{ summary | markdown | safe }}
  </div>
</div>
{% endif %}
<div class="mapped">

  <section class="sub" id="primary">
    {% if title %}
    <div class="section-head">
      <h2 class="section-hed">{{ title | safe }}</h2>
    </div>
    {% endif %}

    {% if lede %}
    <div class="lede">
      <p>{{ lede | safe }}</p>
    </div>
    {% endif %}

    <div class="section-content copy">
      {{ content | safe }}
    </div>
  </section>
    <aside class="minimap">
    </aside>
</div>